.small-font-size {-fx-font-size: 20px;}

.semi-medium-font-size {-fx-font-size: 22px;}

.medium-font-size {-fx-font-size: 26px;}

.semi-large-font-size {-fx-font-size: 30px}

.large-font-size {-fx-font-size: 48px;}