.small-font-size {-fx-font-size: 18px;}

.semi-medium-font-size {-fx-font-size: 20px;}

.medium-font-size {-fx-font-size: 24px;}

.semi-large-font-size {-fx-font-size: 30px}

.large-font-size {-fx-font-size: 40px;}