.small-font-size {-fx-font-size: 18;}

.semi-medium-font-size {-fx-font-size: 20;}

.medium-font-size {-fx-font-size: 24;}

.semi-large-font-size {-fx-font-size: 30;}

.large-font-size {-fx-font-size: 40;}