.small-font-size {-fx-font-size: 20;}

.semi-medium-font-size {-fx-font-size: 22;}

.medium-font-size {-fx-font-size: 26;}

.semi-large-font-size {-fx-font-size: 36;}

.large-font-size {-fx-font-size: 48;}