.small-font-size {-fx-font-size: 16px;}

.semi-medium-font-size {-fx-font-size: 18px;}

.medium-font-size {-fx-font-size: 20px;}

.semi-large-font-size {-fx-font-size: 24px}

.large-font-size {-fx-font-size: 36px;}