.small-font-size {-fx-font-size: 16;}

.semi-medium-font-size {-fx-font-size: 18;}

.medium-font-size {-fx-font-size: 20;}

.semi-large-font-size {-fx-font-size: 24;}

.large-font-size {-fx-font-size: 36;}