.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-weight: Bold;
    -fx-font-size: 28;

    /*hide column header*/
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}

.table-view .table-cell{
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-font-size: 24;
}

.table-row-cell  {
    -fx-background-color: transparent;
}


.table-row-cell:filled {
    -fx-background-insets: 0 10 10 0; /* Create spacing effect padding! */
    -fx-border-insets: 0 10 10 0;
    -fx-padding: 10 0 10 0;
    -fx-background-radius: 20;
    -fx-border-color: black;       /* Set border color to black */
    -fx-border-radius: 20;       /* Set border radius to 10px (rounded corners) */
    -fx-border-width: 1;         /* Set the border width (thickness) */
    -fx-background-color: white;
}
.table-row-cell:filled .table-cell{
    -fx-text-fill: black;
}
.table-row-cell:filled:selected {
    -fx-background-color: #e0e0e0;
}
.table-row-cell:filled:hover {
    -fx-background-color: #cbcbcb;
    -fx-cursor: HAND;
}


/*SCROLL BAR*/
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-pref-width: 15;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #e0e0e0;
    -fx-background-radius: 20;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #e0e0e0;
    -fx-background-radius: 20;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb:hover{
    -fx-background-color:  #cbcbcb;
    -fx-cursor: HAND;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb:hover{
    -fx-background-color:  #cbcbcb;
    -fx-cursor: HAND;
}