* {
    -fx-text-fill: #374957;
    -fx-font-family: PrintAble4U;
}

.side-bar-button {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.side-bar-button:hover {
    -fx-background-color: #EBEBEB;
}

.about-us {
    -fx-text-fill: #909194;
    -fx-font-size: 18px;
}

.imagePane {
    -fx-border-color: #DBDBDB;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

.userChooseButton{
    -fx-background-color: #E7E7E7;
    -fx-background-radius: 0;
}

.signOut {
    -fx-underline: true;
    -fx-text-fill: #2C67FF;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-font-weight: normal;
}

.tab-pane .tab-header-background {
    -fx-background-color: #F8F8F8;
}

.tab-pane .tab {
    -fx-cursor: hand;
    -fx-font-weight: 700;
    -fx-font-size: 24px;
    -fx-background-color: #e0e0e0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected {
    -fx-focus-color: transparent;
    -fx-background-color: #374957;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: #EFEFEF;
}

.tab-pane .tab-content-area {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

.banButton, .edit {
    -fx-cursor: hand;
    -fx-padding: 15px;
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #FF4E4E;
}

.searchTextField {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-prompt-text-fill: #909090;
    -fx-background-color: transparent;
}

.unBanButton {
    -fx-cursor: hand;
    -fx-padding: 15px;
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #49A267;
}

.searchHBox {
    -fx-border-color: #C7C8C8;
    -fx-border-radius: 5px;
}

.addFacultyButton {
    -fx-cursor: hand;
    -fx-font-weight: 700;
    -fx-padding: 0 0 0 5 ;
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: #374957;
}

.profileImage {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.profile-button {
    -fx-background-color: transparent;
}

.profileButton:hover {
    -fx-cursor: hand;
}

.tabName {
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.allTab {
    -fx-pref-width: 100px;
}

/*Table view style*/
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 40px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .cell {
    -fx-text-fill: #374957;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-border-color: transparent;
}

.table-view-user .cell {
    -fx-text-fill: #374957;
    -fx-padding: 3px 0px 3px 10px;
    -fx-font-size: 20px;
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell:selected {
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
    -fx-border-color: #374957;
    -fx-background-color: #F3F3F3;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-row-cell {
    -fx-border-width: 0px;
    -fx-background-color: white;
}
.table-row-cell:hover {
    -fx-background-color: #e0e0e0;
}

.table-view .cell:hover {
    -fx-cursor: hand;
}

.row-active {
    -fx-cursor: hand;
    -fx-background-color: #D3FFE1;
}

.row-active:hover {
    -fx-background-color: #9df5b9;
}

.row-inactive {
    -fx-cursor: hand;
    -fx-background-color: #FFD0D0;
}

.row-inactive:hover {
    -fx-background-color: #faa7a7;
}

.table-view .scroll-bar:vertical {
    -fx-pref-width: 20px;
    -fx-background-color: white; /* Thumb (the part that moves) color */
    -fx-background-radius: 1px;    /* Rounded corners */
}

.table-view .scroll-bar:vertical .thumb{
    -fx-background-color: #374957;
}
/*Table view style*/

/*Admin profile style*/

/*Admin profile style*/