* {
    -fx-font-family: PrintAble4U;
}

.signOut {
    -fx-underline: true;
    -fx-text-fill: #2C67FF;
    -fx-font-size: 18;
    -fx-alignment: center;
}

.profile-button {
    -fx-background-color: transparent;
}

.tabName{
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.manageStudentTab {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 18;
    -fx-padding: 3;
}

.manageStudentTab:hover {
    -fx-cursor: hand;
    -fx-background-color: #EBEBEB;
}

.manageRequestTab {
    -fx-background-color: #EBEBEB;
    -fx-font-size: 18;
    -fx-padding: 3;
}

.requestsTable {
    -fx-font-size: 18;
}

.about-us {
    -fx-text-fill: #909194;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}