* {
    -fx-font-family: PrintAble4U;
}
.signOut {
    -fx-underline: true;
    -fx-text-fill: #0000FF;
}

.manageStudentTab {
    -fx-background-color: #EBEBEB;
}

.manageRequestTab {
    -fx-background-color: #FFFFFF;
}

.manageRequestTab:hover {
    -fx-cursor: hand;
    -fx-background-color: #EBEBEB
}