.signOut {
    -fx-underline: true;
    -fx-text-fill: #0000FF
}

.manageStudentTab {
    -fx-background-color: #FFFFFF;
}

.manageStudentTab:hover {
    -fx-cursor: hand;
    -fx-background-color: #EBEBEB
}

.manageRequestTab {
    -fx-background-color: #EBEBEB
}