* {
    -fx-font-family: PrintAble4U;
}
.signOut {
    -fx-underline: true;
    -fx-text-fill: #0000FF;
    -fx-font-size: 18;
    -fx-alignment: center;
}

.tabName{
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.manageStudentTab {
    -fx-background-color: #EBEBEB;
    -fx-font-size: 18;
    -fx-padding: 3;
}

.manageRequestTab {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 18;
    -fx-padding: 3;
}

.manageRequestTab:hover {
    -fx-cursor: hand;
    -fx-background-color: #EBEBEB
}

.studentTable {
    -fx-font-size: 18;
}