* {
    -fx-font-family: PrintAble4U;
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #374957;
}

.header {
    -fx-font-size: 40px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #374957;
}

.desc {
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #626262;
}

.agreeButton {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #313834;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.line {
    -fx-stroke: #DBDBDB;
    -fx-stroke-width: 2px;
}

.confirm-desc {
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #FF4E4E;
}

.edit-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #FF4E4E;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.confirm-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #49A267;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.edit-data-header {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}
.old-data-header {
    -fx-font-size: 38px;
}

.text-desc-input {
    -fx-font-size: 24px;
}

.input-edit {
    -fx-font-weight: 500;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: white;
    -fx-background-color: #536878;
    -fx-background-radius: 5;
}

.input-edit:focused{
    -fx-border-color: #7992A6;
    -fx-border-radius: 5;
}

.exit-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.accept-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #49A267;
}

.delete-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #FF4E4E;
}

.accept-button:focused {
    -fx-border-width: 1px;
    -fx-border-color: #374957;
    -fx-border-radius: 5px;
}

/* สไตล์สำหรับลูกศรลง */
.choice-box-select .arrow {
    -fx-background-color: #ffffff; /* สีของลูกศรลง */
}

.choice-box-select {
    -fx-cursor: hand;
    -fx-background-color: #536878;
    -fx-border-radius: 5;
    -fx-border-width: 0px;
    -fx-font-size: 20px;
}
.choice-box-select:focused {
    -fx-border-width: 1px;
    -fx-border-color: #7992A6;
}

.choice-box-select .context-menu {
    -fx-font-size: 20px;
    -fx-background-color: white;
}

.choice-box-select .menu-item:focused {
    -fx-background-color: #F3F3F3;
    -fx-cursor: hand;
}

.error-label {
    -fx-text-fill: #FF5D5D;
    -fx-font-size: 24px;
}

.text-area {
    -fx-background-color: #F2F2F2;
    -fx-border-width: 0px;
    -fx-border-radius: 5px;
    -fx-font-size: 24px;
}

.text-area .content {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.text-area:focused {
    -fx-border-color: #374957;
    -fx-border-width: 1px;
}

.not-approve {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #FF5D5D;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: #FF5D5D;
    -fx-border-radius: 5px;
}

.not-approve:hover {
    -fx-background-color: white;
    -fx-text-fill: #FF5D5D;
    -fx-border-color: #FF5D5D;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.change-theme-button {
    -fx-background-radius: 50;
    -fx-cursor: hand;
    -fx-background-color: #374957;
    /*-fx-font-size: 20px;*/
}
