* {
    -fx-font-family: PrintAble4U;
    -fx-text-fill: #374957;
}

.root {
    -fx-background-color: #FFFFFF;
}

.header {
    -fx-font-size: 40px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #374957;
}

.desc {
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #626262;
}

.agreeButton {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #313834;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.line {
    -fx-stroke: #DBDBDB;
    -fx-stroke-width: 2px;
}

.confirm-desc {
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #FF5D5D;
}

.edit-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #FF4E4E;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.confirm-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-color: #49A267;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.edit-data-header {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}
.old-data-header {
    -fx-font-size: 38px;
}

.text-desc-input {
    -fx-font-size: 24px;
}

.input-edit {
    -fx-font-weight: 500;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: #909090;
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 5;
}

.input-edit:focused{
    -fx-border-color: #374957;
    -fx-border-radius: 5;
}

.exit-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.accept-button {
    -fx-cursor: hand;
    -fx-font-size: 30px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #49A267;
}

.choice-box-select {
    -fx-cursor: hand;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5;
    -fx-border-width: 0px;
}

.error-label {
    -fx-text-fill: #FF5D5D;
    -fx-font-size: 24px;
}