* {
    -fx-font-family: PrintAble4U;
}
.RequestsTable .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.RequestsTable .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.RequestsTable {
    -fx-border-color: transparent;
    -fx-background-color: transparent ;
}

.RequestTabButton {
    -fx-background-color: #EBEBEB;
    -fx-text-fill: #374957;
}
.RequestTabButton:hover{
    -fx-cursor: hand;
}

.SideBarAccountName {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.LogoutText {
    -fx-underline: true;
}
.LogoutText:hover{
    -fx-cursor: hand;
}

.CreateRequestButton {
    -fx-background-color: #374957;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-padding: 3;
    -fx-text-alignment: center right;
}

.CreateRequestButton:hover{
    -fx-cursor: hand;
}

.TabProfilePic:hover {
    -fx-cursor: hand;
}