* {
    -fx-font-family: PrintAble4U;
    -fx-text-fill: #374957;
}
.header {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.RequestsTable .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.RequestsTable .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.table-view .cell {
    -fx-alignment: CENTER_LEFT;
}

.RequestsTable {
    -fx-font-size: 24px;
    -fx-border-color: transparent;
    -fx-background-color: transparent ;
}

.CreateRequestButton {
    -fx-background-color: #374957;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 3;
    -fx-text-alignment: center right;
}

.CreateRequestButton:hover{
    -fx-cursor: hand;
}

.searchHBox {
    -fx-border-color: #C7C8C8;
    -fx-border-radius: 5px;
}

.searchTextField {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-prompt-text-fill: #909090;
    -fx-background-color: transparent;
}

.back-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}