* {
    -fx-text-fill: #374957;
    -fx-font-family: PrintAble4U;
}

.RequestsTable {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.RequestsTable .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.RequestsTable .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.RequestsTable .cell {
    -fx-text-fill: #374957;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-border-color: transparent;
}
.RequestsTable .cell:selected {
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
    -fx-border-color: #374957;
    -fx-background-color: #F3F3F3;
}
.RequestsTable .cell:hover {
    -fx-cursor: hand;
}

