* {
    -fx-font-family: PrintAble4U;
}
.header {
    -fx-font-size: 48px;
}

.RequestsTable .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.RequestsTable .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.RequestsTable {
    -fx-font-size: 20px;
    -fx-border-color: transparent;
    -fx-background-color: transparent ;
}

.CreateRequestButton {
    -fx-background-color: #374957;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 3;
    -fx-text-alignment: center right;
}

.CreateRequestButton:hover{
    -fx-cursor: hand;
}