* {
    -fx-text-fill: white;
    -fx-font-family: PrintAble4U;
}

.root-pane {
    -fx-background-color: transparent;
}

.ProfileCard {
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 13, 0, 0, 1);
    -fx-background-color: #536878;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.StudentName {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 32;
}

#profileCardInfo {
    -fx-text-fill: white;
}

.editPasswordButton{
    -fx-background-color: #FF4E4E;
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-pref-width: 126;
    -fx-pref-height: 30;
    -fx-background-radius: 10;
}

.editEmailButton {
    -fx-background-color: #ed98c5;
    -fx-cursor: hand;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-padding: 1;
}

.saveEmailButton {
    -fx-background-color: rgba(31, 74, 96, 0.22);
    -fx-pref-height: 30;
    -fx-cursor: hand;
    -fx-pref-width: 30;
    -fx-background-radius: 10;
}

.cancelEditEmailButton {
    -fx-background-color: rgba(243, 164, 182, 0.76);
    -fx-pref-height: 30;
    -fx-cursor: hand;
    -fx-pref-width: 30;
    -fx-background-radius: 10;
}


.emailTextField {
    -fx-background-color: #7992A6;
    /*-fx-border-color: #FFFFFF;*/
    -fx-background-radius: 10px;
    -fx-border-radius: 10;
    -fx-font-size: 20;
}

.uploadImageButton {
    -fx-background-color: #ed98c5;
    -fx-pref-height: 27;
    -fx-pref-width: 120;
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-font-size: 14;
}

.saveButton {
    -fx-background-color: rgba(112, 189, 86, 0.68);
    -fx-pref-height: 25;
    -fx-font-weight: bold;
    -fx-pref-width: 85;
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-font-size: 16;
}

.errorLabel {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-font-size: 18;
}

.passwordTextField {
    -fx-text-fill: #536878;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 16;
    -fx-pref-width: 240;
    -fx-pref-height: 30;
}

